{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		{% tailwind_css %}
	</head>
	<body class="bg">
		{% include 'includes/farmerSidebar.html' %}

		<div class="p-4 sm:ml-64">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="relative isolate overflow-hidden bg-transparent h-full px-6 py-20 text-center sm:px-16">
					<p class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-yellow-400 sm:text-4xl">
						Crop Season in 2024
					</p>
				</div>
			</div>
			<div class="mx-auto flex justify-center">
				<iframe
					src="https://agritech.tnau.ac.in/crop_protection/crop_prot_crop_insect_horti_pest.html"
					width="100%" height="1000px" frameborder="0"></iframe>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
